@import url('./base.css');
@import url('./feed.css');

.appear {
    opacity: 0;
    animation: appear 1s forwards;
}

@keyframes appear {
    to {
        opacity: 1;
    }
}

#article_content {
    text-align: justify;
    word-break: keep-all;
}

#article_content > h2,
#article_content > h1 {
    margin-top: 4rem;
}

#article_content > p {
    margin-top: 2rem;
    line-height: 150%;
}

#article_content > a,
#article_content > p > a {
    color: rgb(82, 133, 228);
}

#interests {
    margin-bottom: 4rem;
    color: var(--l9);
}

#loading {
    min-height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    animation: pulse 2s infinite;
}

#bread {
    animation: wiggle 2s infinite;
}

#all_articles {
    display: none;
    flex-direction: column;
    gap: 4rem;
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}

@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}
