@import url('/base.css');

body {
    gap: 6rem;
    padding: 6rem;
}

#provider_grid > label {
    border: 1px solid var(--l2);
    padding: 3rem;
    border-radius: 2rem;
}

label .name {
    white-space: pre;
}

#provider_grid {
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40rem, 1fr));
}

section {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.interests_item {
    display: flex;
    align-items: center;
    gap: 2rem;
}

#interests_list {
    gap: 2rem;
    display: flex;
    flex-direction: column;
}

dialog#add_feed_modal {
    gap: 2rem;
    position: relative;
}

dialog#add_feed_modal form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* #bread {
    display: none;
    width: 16rem;
    animation: spin 8s linear infinite;
}

.loading #bread {
    display: block;
} */

#loading_cover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}

.loading #loading_cover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#bread {
    width: 16rem;
    height: 16rem;
    animation: spin 8s linear infinite;
    margin-bottom: 2rem;
}
